/* Header styling */
header {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 40px 0;
    color: #FAF6F0;
    text-align: center;
    background-color: #000000;
}

/* Styling for the entire body of the page */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FAF6F0;
}

/* Profile picture styling */
.profile-pic {
    padding-left: 50px;
    /* Padding to the right */
}

.profile-pic img {
    width: 250px;
    height: 300px;
    border-radius: 50%;
    /* Circular image */
    align-items: right;
    margin-left: 20px;
}

/* Sub-section text styling */
.sub-section {
    font-size: 20pt;
}

/* Top navigation bar styling */
.topnav {
    overflow: hidden;
    background-color: #000000;
    text-align: right;
    padding-right: 50px;
}

/* Styling for links in the top navigation bar */
.topnav a {
    float: none;
    display: inline-block;
    color: #FAF6F0;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Hover effect for links in the top navigation bar */
.topnav a:hover {
    background-color: #F4DFC8;
    color: #000000;
}

/* Styling for the active link in the top navigation bar */
.topnav a.active {
    background-color: #F4DFC8;
    color: #000000;
}

/* Clearfix to clear floated columns */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Full-width container styling */
.full-width-container {
    width: 100%;
    background-color: #F4DFC8;
    padding: 20px;
    box-sizing: border-box;
}

/* About section text alignment */
#about h2,
#about p {
    text-align: center;
}

/* Container styling for content sections */
.container {
    background-color: #F4DFC8;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #F4DFC8;
    box-shadow: 4px 6px 10px rgba(0, 0, 0, 0.1);
    color: #000000;
}

.container h2 {
    color: #000000;
    font-family: 'Arial', sans-serif;
    font-size: 1.8em;
}

/* Text styling for content within sections */
.container p,
.container ul {
    color: #333333;
    font-size: 1.2em;
}

/* Responsive design for smaller screens */
@media screen and (max-width: 768px) {
    #grid-container {
        grid-template-columns: 1fr;
    }

    .left-side,
    .right-side {
        gap: 10px;
    }
}

/* Footer styling */
footer {
    background-color: #000000;
    color: #FAF6F0;
    text-align: center;
    padding: 10px 0;
}

/* Content section styling */
.content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    background-color: #FAF6F0;
}

.name-container {
    padding-left: 50px;
    font-size: 30pt;
    color: #000000;
    font-family: 'Courier New', Courier, monospace;
}

/* Typing animation styles */
@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: #000000;
    }
}

#typed-name {
    overflow: hidden;
    border-right: .15em solid #000000;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation:
        typing 3.5s steps(40, end),
        blink-caret .75s step-end infinite;
}

/* General section styling */
section {
    padding: 20px;
    margin: 0 auto;
}

section h2 {
    font-size: 2em;
    color: #000000;
}

section p,
section ul {
    font-size: 1.2em;
    color: #333;
}

section ul {
    list-style-type: disc;
    padding-left: 20px;
}

section ul li {
    margin-bottom: 10px;
}

section ul li h3 {
    font-size: 1.5em;
    color: #000000;
}

/* Reveal effect styling */
.reveal {
    opacity: 0;
    transform: translateY(100px);
    transition: all 0.6s ease-out;
}

.reveal.active {
    opacity: 1;
    transform: translateY(0);
}

/* Styling for individual education, project, and experience items */
.education-item,
.project-item,
.experience-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FAF6F0;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
    border-left: 5px solid #8f8e8c;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Styling for the degree and details columns */
.degree h3,
.role h3,
.project h3 {
    font-size: 1.5em;
    margin: 0;
    color: #000000;
}

.degree p,
.role p,
.project p {
    font-size: 1.1em;
    color: black;
}

.details p {
    font-size: 1.1em;
    color: #333;
    text-align: right;
}

/* Responsive design for smaller screens */
@media screen and (max-width: 768px) {
    .topnav a {
        font-size: 14px;
        /* Further reduced font size */
        padding: 10px;
        /* Adjust padding */
    }

    .profile-pic img {
        width: 120px;
        /* Further reduced size */
        height: 120px;
    }

    .name-container {
        padding-left: 10px;
        /* Further reduced padding */
        font-size: 20px;
        /* Further reduced font size */
    }

    .content {
        padding: 10px;
        /* Reduced padding */
    }

    .education-item,
    .experience-item,
    .project-item {
        flex-direction: column;
        /* Stack items vertically */
        align-items: flex-start;
        /* Align items to the start */
    }

    .education-item .details,
    .experience-item .details,
    .project-item .details {
        text-align: left;
        /* Align text to the left */
        margin-top: 10px;
        /* Margin for spacing */
    }

    .container {
        padding: 10px;
        /* Reduced padding */
    }

    section {
        margin: 0 5%;
    }
}