header {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 40px 0;
    color: #FAF6F0;
    text-align: center;
    background-color: #000000;
}

/* Styling for the entire body of the page */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FAF6F0;
}

.profile-pic {
    padding-left: 50px;
    /* Padding to the right */
}

.profile-pic img {
    width: 250px;
    /* Adjust size as needed */
    height: 300px;
    border-radius: 50%;
    /* Circular image */
    align-items: right;
    margin-left: 20px;
}


.sub-section {
    font-size: 20pt;
}

/* Styling for the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #000000;
    text-align: right;
    padding-right: 50px;
}

/* Styling for links in the top navigation bar */
.topnav a {
    float: none;
    display: inline-block;
    color: #FAF6F0;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Hover effect for links in the top navigation bar */
.topnav a:hover {
    background-color: #F4DFC8;
    color: #000000;
}

/* Styling for the active link in the top navigation bar */
.topnav a.active {
    background-color: #F4DFC8;
    color: #000000;
}

/* Clearfix to clear floated columns */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}


.full-width-container {
    width: 100%;
    background-color: #F4DFC8;
    padding: 20px;
    box-sizing: border-box;
}

#about h2,
#about p {
    text-align: center;
}

.container {
    background-color: #F4DFC8;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #F4DFC8;
    box-shadow: 4px 6px 10px rgba(0, 0, 0, 0.1);
    color: #000000;
}

.container h2 {
    color: #000000;
    font-family: 'Arial', sans-serif;
    font-size: 1.8em;
}

/* Text styling for content within sections */
.container p,
.container ul {
    color: #333333;
    font-size: 1.2em;
}

/* Responsive design: For smaller screens, stack the sections vertically */
@media screen and (max-width: 768px) {
    #grid-container {
        grid-template-columns: 1fr;
        /* Single column on small screens */
    }

    .left-side,
    .right-side {
        gap: 10px;
    }
}

/* Styling for the footer section */
footer {
    background-color: #000000;
    color: #FAF6F0;
    text-align: center;
    padding: 10px 0;
}

/* Styling for the content section */
.content {
    display: flex;
    justify-content: flex-start;
    /* Align content to the left */
    align-items: center;
    /* Center content vertically */
    height: 100vh;
    /* Full viewport height */
    background-color: #FAF6F0;
    /* Background color */
}

/* Styling for the name container */
.name-container {
    padding-left: 50px;
    /* Add some padding to the left */
    font-size: 30pt;
    /* Font size */
    color: #000000;
    /* Font color */
    font-family: 'Courier New', Courier, monospace;
    /* Monospace font for typing effect */
}

/* Typing animation */
@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: #000000;
    }
}

#typed-name {
    overflow: hidden;
    /* Ensures the text is hidden */
    border-right: .15em solid #000000;
    /* The caret */
    white-space: nowrap;
    /* Prevents the text from wrapping */
    margin: 0 auto;
    /* Keeps the text centered */
    letter-spacing: .15em;
    /* Adjust as needed */
    animation:
        typing 3.5s steps(40, end),
        blink-caret .75s step-end infinite;
}

section {
    padding: 20px;
    margin: 0 auto;
}

section h2 {
    font-size: 2em;
    color: #000000;
}

section p,
section ul {
    font-size: 1.2em;
    color: #333;
}

section ul {
    list-style-type: disc;
    padding-left: 20px;
}

section ul li {
    margin-bottom: 10px;
}

section ul li h3 {
    font-size: 1.5em;
    color: #000000;
}

/* Responsive design adjustments */
@media screen and (max-width: 768px) {
    section {
        margin: 0 5%;
    }
}

.reveal {
    opacity: 0;
    transform: translateY(100px);
    transition: all 0.6s ease-out;
}

.reveal.active {
    opacity: 1;
    transform: translateY(0);
}

/* 
.education-container {
    width: 98%;
    background-color: #F4DFC8;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
} */

/* Styling for individual education items */
.education-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FAF6F0;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
    border-left: 5px solid #8f8e8c;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Styling for the degree and details columns */
.degree h3 {
    font-size: 1.5em;
    margin: 0;
    color: #000000;
}

.degree p {
    font-size: 1.1em;
    color: black;
}

.details p {
    font-size: 1.1em;
    color: #333;
    text-align: right;

}

/* Responsive design for smaller screens */
@media screen and (max-width: 768px) {
    .education-item {
        flex-direction: column;
        align-items: flex-start;
    }

    .details {
        text-align: left;
        margin-top: 10px;
    }
}

/* Styling for individual experience items */
.experience-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
    border-left: 5px solid #8f8e8c;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Styling for the role and details columns */
.role h3 {
    font-size: 1.5em;
    margin: 0;
    color: #000000;
}

.role p {
    font-size: 1.1em;
    color: black;
}

.details p {
    font-size: 1.1em;
    color: #333;
    text-align: right;
}

/* Styling for individual project items */
.project-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FAF6F0;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
    border-left: 5px solid #8f8e8c;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Styling for the project and details columns */
.project h3 {
    font-size: 1.5em;
    margin: 0;
    color: #000000;
}

.project p {
    font-size: 1.1em;
    color: black;
}

.details p {
    font-size: 1.1em;
    color: #333;
    text-align: right;
}

/* Responsive design for smaller screens */
@media screen and (max-width: 768px) {

    .experience-item,
    .project-item {
        flex-direction: column;
        align-items: flex-start;
    }

    .details {
        text-align: left;
        margin-top: 10px;
    }
}